.slideContainer {
    cursor: pointer;
    margin-top: .5em;
    display: flex;
}

.slideContainer img {

    object-fit: cover;
    width: 100%;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.comicsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
}

.comicCard {
    cursor: pointer;
    width: 240px;
    display: flex;
    flex-direction: column;

}

.comicCard img {
    height: 380px;
    width: 220px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:active {
    color: rgb(22, 22, 22);
}